{% extends '../base.html' %}
{% load staticfiles %}
{% block title %}微博内容列表{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
 
 

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<table class="table">
				<thead>
					<tr>
						<th>
                            名称
						</th>
						<th>
							时间
						</th>
                        <th>

                        </th>
					</tr>
				</thead>
                <tbody>
                {% for item in items %}
                    <tr>
						<td>
							{{ item.name }}
						</td>
						<td>
							{{ item.time }}
						</td>
						<td>
                            <form class='form-geo' action="/tweetlist/" method="get">
								<button type="submit" class="btn btn-primary pull-right">浏览博文</button>
                                <div class="f">
									<input type="hidden" name="dbname" value={{ item.dbname }}>
								</div>
							</form>
						</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
            <div id="pages" class="text-center" >
        <nav>
            <ul class="pagination">
                <li class="step-links">
                {% if items.has_previous %}
                    <a class='active' href="?page={{ items.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    Page {{ items.number }} of {{ items.paginator.num_pages }}</span>

                {% if items.has_next %}
                    <a class='active' href="?page={{ items.next_page_number }}">下一页</a>
                {% endif %}
                </li>
            </ul>
        </nav>
            </div>
		</div>
	</div>
</div>
{% endblock %}
